{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book</title>
        
    </head>
<body>
    
    <section>
        <div class="create_container">
            <form  method="POST">
            {% csrf_token %}
            <input
            class="create_input"
            type="text"
            placeholder="Введите заголовок"
            name="books.text"/>

            <input
            class="create_input"
            type="text"
            placeholder="Введите подзаголовок"
            name="books.subtitle"/>

            <input
            class="create_input"
            type="text"
            placeholder="Введите описание"
            name="books.description"/>

            <input
            class="create_input"
            type="text"
            placeholder="Цена"
            name="books.price"/>

            <input
            class="create_input"
            type="text"
            placeholder="Жанр"
            name="books.genre"/>

            <input
            class="create_input"
            type="text"
            placeholder="Автор"
            name="books.author"/>

            <input
            class="create_input"
            type="text"
            placeholder="Год выхода книги"
            name="books.year"/>
            <button class="create_button">Добавить</button>
        </form>
        </div>

        <div class="books_container">

            {% for books in books_list %}
            <div class="bookshelf">
                <h2>{{ books.text }}</h2>
                <h3>{{ books.subtitle }}</h3>
                <h3>{{ books.description }}</h3>
                <h3>{{ books.price }}</h3>
                <h3>{{ books.genre }}</h3>
                <h3>{{ books.author }}</h3>
                <h3>{{ books.year }}</h3>
                <h3>{{ books.created_at }}</h3>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>